{{> header }}

<div class="cotainer-fluid">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <img class="icon-b" src="/icons/Dog.svg" alt="dog svg">
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div> 
        </div>


        <div class="col-md-5">
            <img class="icon-b" src="/icons/Cat.svg" alt="cat svg">
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <img class="icon-b" src="/icons/male.svg" alt="male svg">
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div> 
        </div>


        <div class="col-md-5">
            <img class="icon-b" src="/icons/female.svg" alt="female svg">
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </div>

    <dic class="row">
        <div class="col-md-5 col-md-offset-1">
            <img class="icon-b" src="/icons/dog-house.svg" alt="dog house svg">
            <div>
                Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> 
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
        <div class="col-md-5">
            <img class="icon-b" src="/icons/heart.svg" alt="heart svg">
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </div>

  
</div>


{{> footer }}