{{> header }}

<div class="cotainer-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-div">
            <h2>Login</h2>
            <p>Please login to enter the site!</p>
            {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            <form method="POST" action="/user/login">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" id="pwd">
                </div>
                <button type="submit" class="form-btn">Login</button>
            </form>
        </div>
    </div>
</div>

{{> footer }}