{{> header }}

<div class="cotainer-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-div">
            <h2>Registration</h2>
            <p>Please register to enter the site!</p>

            {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-danger">{{this.msg}}</div>
                {{/each}}
            {{/if}}
            <form method="POST" action="/user/register" id="registration-form">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" id="pwd">
                </div>
                <div class="form-group">
                    <label for="confirm-pwd">Confirm Password:</label>
                    <input type="password" name="confirm" class="form-control" id="confirm-pwd">
                </div>
                <button type="submit" class="form-btn">Register</button>
            </form>
        </div>
    </div>
</div>

{{> footer }}