:root {
    --red: #E95765;
    --yellow: #F9BB44;
    --light-blue: #E6E9EE;
    --gray: #434A54;
}

.container {
    min-height: 100vh;
    position: relative;
    padding-bottom: 15vh;
    color: var(--gray);
}
footer {
    border: 2px solid var(--gray);
    border-radius: 3vh 3vh 0 0;
    border-bottom: none;
    text-align: center;
    position: absolute;
    margin-left: -15px;
    width: 100%;
    bottom: 0; 
    height: 8vh;
    color: var(--red)
}
.footer {
    padding: 2vh 0;
}
a {
    color: var(--red);
}
a:hover {
    color: var(--yellow);
}

/* NAVBAR */
.navbar-custom{
    border: 2px solid var(--gray);
    border-radius: 3vh;
    height: 10vh;
    font-size: 20px;
    margin: 1vh;
}
nav.navbar-custom > ul {
    height: 100%;
    width: 100%;
    padding-right: 40px;
    list-style-type: none;
}

nav.navbar-custom > ul > li {
    height: 100%;
    float: left;
}
nav.navbar-custom > ul > li.right {
    float: right;
}

nav.navbar-custom > ul > li > a {
    text-decoration: none;
    line-height: 7vh;
    padding: 1vh;
    height: 100%;
    display: block;
    text-align: center;
}

#toggle-menu {
    display:none;
}
nav.navbar-custom > ul > li > a > label {
    font-weight: normal !important;
}

nav.navbar-custom > ul > input[type=checkbox] {
    opacity:0;
}
nav.navbar-custom > ul > input[type=checkbox] + li {
    transition: transform 0.5s;
    border-right: 1px var(--gray) solid;
    border-left: none;
}
nav.navbar-custom > ul > input[type=checkbox]:checked + li {
    transform: translateX(310px);
    border-left: 1px var(--gray) solid;
    border-right: none;
}
nav.navbar-custom > ul > input[type=checkbox]:checked + li > a {
    background-color: var(--light-blue);
    color: var(--yellow);
}

nav.navbar-custom > ul > input[type=checkbox] + li + li,
nav.navbar-custom > ul > input[type=checkbox] + li + li + li,
nav.navbar-custom > ul > input[type=checkbox] + li + li + li +li {
    transition: opacity,transform 0.6s;
    opacity: 0;
    transition-delay: 0.1s;
}

nav.navbar-custom > ul > input[type=checkbox]:checked + li + li,
nav.navbar-custom > ul > input[type=checkbox]:checked + li + li +li,
nav.navbar-custom > ul > input[type=checkbox]:checked + li + li + li + li {
    transform: translateX(20px);
    opacity: 1; 
}

nav.navbar-custom > ul > li > a:hover {
    background-color:var(--light-blue);
}

.brand-img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

@media screen and (max-width: 700px) {
    nav.navbar-custom {
        height: 15vh;
        line-height: 12vh;
    }
    
    nav.navbar-custom > ul > li {
        display: none;
    }
    nav.navbar-custom > ul > li > a{
        line-height: 12vh;
    }
    #brand {
        display:block;
    }
    #toggle-menu {
        display:block;
    }
    
}
/* NAVBAR */

/*  Index Pet frame */
.pet-frame {
    height: 300px;
    margin: 4vh auto;
    position: relative;
}

.pet-frame > a > img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    border: 2px var(--light-blue) solid;
}
.pet-frame > a > img:hover {
    opacity: 0.7
}


.pet-frame > p {
    font-size: 20px;
    line-height: 5vh;
}

.top-left {
    position: absolute;
    top: -5vh;
    left: 65px;
}

.top-right {
    position: absolute;
    top: -5vh;
    right: 65px;
}
/*
.img-Dog {
    border: 2px var(--red) solid;
}
.img-Cat {
    border: 2px var(--yellow) solid;
}*/

/* Index disclaimer */
.disclaimer {
    text-align: center;
    border: solid 1px var(--gray);
    border-radius: 3vh;
    padding: 2vh;
    margin: 3vh 5vh;
}
.warning-title {
    color: var(--red);
}

/* Pet profile */
.pet-profile {
    margin-top:3vh;
}
.pet-img {
    max-width:100%;
    max-height: 300px;
    border: solid 1px var(--light-blue);
    
}
.pet-name{
    display:inline-block;
    font-size: 30px;
}
.pet-icon {
    display:inline-block;
}
.pet-favs {
    font-size: 25px;
}
.btn-favourite {
    background-color: white;
    border: none;
}
.btn-favourite:hover {
    background-color: var(--yellow);
    border: none;
}
/* icons */
.icon-s {
    position: relative;
    top: 5px;
    width: 25px;
    height: 25px;
}
.icon-m {
    position: relative;
    top: 10px;
    width: 50px;
    height: 50px;
}
.icon-b {
    position: relative;
    top: 10px;
    width: 75px;
    height: 75px;
}

/* register form */

.form-btn {
    margin-left: 70%;
    width: 30%;
    padding: 5px;
    background-color: var(--red);
    color: white;
    font-size:20px;
    border: 1px solid var(--light-blue);
    border-radius: 5px;
}

form {
    position: relative;
}

.form-btn:hover {
    background-color: var(--red);
    color: var(--gray);
 
}

.form-div{
    margin-top: 3vh;
    padding: 5vh 10vh;
    border: 1px solid var(--gray);
    border-radius: 25px;
}

.column-div {
    padding: 5vh 5vh;
    border: 1px solid var(--gray);
    border-radius: 25px;
}



.btn-new-form{
    background-color: var(--red);
    color: white;
    font-size:25px;
    border: 1px solid var(--light-blue);
    border-radius: 5px;

}
.btn-new-form:hover{
    background-color: var(--yellow);
    color: var(--gray);
}

.column-div > ul {
    font-size: 18px;
}

.column-div > ul > li {
    height: 8vh;
}

.btn-delete-pet {
    padding: 5px;
    float:right;
    background-color: var(--red);
    color: white;
    border: 1px solid var(--light-blue);
    border-radius: 5px;
}
.btn-delete-pet:hover {
    background-color: var(--yellow);
    color: var(--gray);
}

.form-column {
    display: none;
}

.column-title {
    margin: 3vh;
    font-size: 20px;
}

.btn-comment {
    padding: 5px;
    float:right;
    background-color: var(--red);
    color: white;
    border: 1px solid var(--light-blue);
    border-radius: 5px;
}
.btn-comment:hover {
    background-color: var(--yellow);
    color: var(--gray);
}

.comment-username {
    color: var(--red);
    font: 16px;
}
.comment-separator {
    color: var(--gray);
    display: block;
    opacity: 0.5;
    border-style: inset;
    border-width: 1px;
}
.comment-date {
    opacity: 0.5;
    float:right

}

.fav-msg {
    font-size: 16px;
}
