            <footer>
                <div class="footer">
                    <span>Dan Novak 2018</span>
                </div>
            </footer>
        </div>
        <script src="/js/jquery-3.3.1.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/pets.js"></script>
    </body>
</html> 