<nav class="navbar-custom">
    <ul>
        <li id="brand"><a href="/"><img class="brand-img" src="/icons/dog-house.svg" alt="dog house svg"></a></li>
        <input type="checkbox" id="pets-toggle">
        <li><a><label for="pets-toggle">Pets</label></a></li>
        <li><a href="/cats">Cats</a></li>
        <li><a href="/dogs">Dogs</a></li>
        <li><a href="/other">Other</a></li>
    {{#if isAuthenticated}}
        <li class="right"><a href="/user/logout">Logout</a></li>
        <li class="right"><a href="/user/profile">{{ user.username }}'s Profile</a></li>
    {{else}}
        <li class="right"><a href="/user/login">Login</a></li>
        <li class="right"><a href="/user/register">Register</a></li>
    {{/if}}
        <li id="toggle-menu" class="right"><a>&#9776;</a></li>
    </ul>
</nav>