{{> header }}

<div class="cotainer-fluid">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <svg class="icon-b"><use xlink:href="/icons/icons.svg#Dog" /></svg>
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div> 
        </div>


        <div class="col-md-5">
            <svg class="icon-b"><use xlink:href="/icons/icons.svg#Cat" /></svg>
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <svg class="icon-b"><use xlink:href="/icons/icons.svg#male" /></svg>
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div> 
        </div>


        <div class="col-md-5">
            <svg class="icon-b"><use xlink:href="/icons/icons.svg#female" /></svg>
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </div>

    <dic class="row">
        <div class="col-md-5 col-md-offset-1">
            <svg class="icon-b"><use xlink:href="/icons/icons.svg#house" /></svg>
            <div>
                Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita Golubev</a> 
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
        <div class="col-md-5">
            <svg class="icon-b"><use xlink:href="/icons/icons.svg#heart" /></svg>
            <div>
                Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </div>
        </div>
    </div>

  
</div>


{{> footer }}