{{> header }}

<div class="cotainer-fluid">

    <div class="disclaimer">
        <div class="warning-title">WARNING!: IMPORTANT NOTICE</div>
        <div>This website is created for research purpuses only, for a master thesis study.
        For credit to authors of the icons used check the <a href="/imprint">Imprint</a> page</div>   
    </div>
    {{#if pets}}
        {{#each pets}}
        <div class="col-md-6">
            <div class="pet-frame">
                <!--<img src="icons/{{this.class}}.svg" class="icon-m icon-hover" alt="pet {{this.class}}">-->
                <a href="/pet/{{this._id}}"><img src="/img/{{this.img}}" alt="pet {{this.name}}" class="img-{{this.class}}"></a>
                <p class="top-left">
                    <span>
                        {{this.name}}
                        
                    </span>
                    <svg class="icon-s"><use xlink:href="/icons/icons.svg#{{this.sex}}" /></svg>
                </p>
                <p class="top-right">
                    <span>
                        {{this.favs.length}}
                        <svg class="icon-s"><use xlink:href="/icons/icons.svg#heart" /></svg>
                    </span>
                </p>
            </div>
        </div>
        {{/each}}
    {{/if}}

</div>


{{> footer }}