{{> header }}

<div class="cotainer-fluid">
    <div class="row pet-profile">
        <div class="col-md-4 col-md-offset-1">
            <span class="pet-name">{{ pet.name }}</span>
            <svg class="icon-m pet-icon"><use xlink:href="/icons/icons.svg#{{pet.class}}" /></svg>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Sex:</th>
                        <td><svg class="icon-s"><use xlink:href="/icons/icons.svg#{{pet.sex}}" /></svg></td>
                    </tr><tr>
                        <th>Age:</th>
                        <td>{{pet.age}}</td>
                    </tr><tr>
                        <th>Favourite food:</th>
                        <td>{{pet.food}}</td>
                    </tr><tr>
                        <th>Favourite toy:</th>
                        <td>{{pet.toy}}</td>
                    </tr><tr>
                        <th>Owner:</th><td class="owner">{{owner}}</td>
                    </tr>
                </table>
            </div> 
            <br><br>
            {{#if comments}}
            <h4>Comments:</h4>
            <hr class="comment-separator">
                {{#each comments}}
                    <span class="comment-username">{{this.byuser}}:</span>
                    <span class="comment-date">{{this.timestamp}}</span>
                    <p>{{this.text}}</p>
                    <hr class="comment-separator">
                {{/each}}
            {{/if}}    
        </div>
        <div class="col-md-5">
            {{#if isAuthenticated}}
            <span class="pet-favs">{{pet.favs.length}}</span>
            <button class="btn-favourite"><svg class="icon-m"><use xlink:href="/icons/icons.svg#heart" /></svg></button>
            <span class="fav-msg">Would you like to make {{pet.name}} your favourite pet?</span>
            {{else}}
            <span class="pet-favs">{{pet.favs.length}}<svg class="icon-m"><use xlink:href="/icons/icons.svg#heart" /></svg></span> 
            {{/if}}  
            <img src="/img/{{ pet.img }}" class="pet-img" alt="pet {{ pet.class }}">
            {{#if isAuthenticated}}
            <br><br>
            <form method="POST" action="/comment/{{pet.id}}">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                    <button type="submit" class="btn-comment">Post</button>
                </div> 
            {{/if}}  
            </form>
        </div>
    </div>
</div>      

{{> footer }}