{{> header }}
<div class="cotainer-fluid">
    <div class="disclaimer">
        <h4>Welcome  {{ user.username }}</h4>
        <p>This is your profile. Here, you can manage your pets and add new ones.</p>
    </div>
    <div class="col-md-4">
        <div class="column-title"><svg class="icon-m"><use xlink:href="/icons/icons.svg#heart" /></svg> Your Favourite Pets: </div>
            {{#if favPets}}
            <div class="column-div">
                <ul>
                {{#each favPets}}
                    <li>
                        <a href="/pet/{{this._id}}">{{this.name}}</a>
                        <button class="btn-remove-fav btn-delete-pet" value="{{this._id}}">REMOVE</button>
                    </li>
                {{/each}}
                </ul>
                <p class="fav-msg"></p>
            </div> 
            {{/if}}
            
    </div>
    <div class="col-md-4">
        <div class="column-title">Your Pets: </div>
        {{#if userPets}}
            <div class="column-div">
                <ul>
                {{#each userPets}}
                    <li>
                        <a href="/pet/{{this._id}}">{{this.name}}</a>
                        <a href="/pet/{{this._id}}/delete"><button class="btn-delete-pet">DELETE</button></a>
                    </li>
                {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
    <div class="col-md-4">
        <div class="column-title">
            Add new pet <button class="btn-new-form">+</button>
        </div>
            {{#if errors}}
                {{#each errors}}
                    <div class="alert alert-danger">{{this.msg}}</div>
                {{/each}}
            {{/if}}
        <div class="column-div form-column">
            <form action="/pet/create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>
                <label class="radio-inline"><input type="radio" value="male" name="sex">
                    <svg class="icon-s"><use xlink:href="/icons/icons.svg#male" /></svg>
                </label>
                <label class="radio-inline"><input type="radio" value="female" name="sex">
                    <svg class="icon-s"><use xlink:href="/icons/icons.svg#female" /></svg>
                </label>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="number" name="age" class="form-control" id="age">
                </div>
                <div class="form-group">
                    <label for="class">Select list:</label>
                    <select class="form-control" id="class" name="class">
                        <option value="Dog">Dog</option>
                        <option value="Cat">Cat</option>
                        <option value="Fish">Other</option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="food">Favourite food:</label>
                    <input type="text" name="food" class="form-control" id="food">
                </div>
                <div class="form-group">
                    <label for="toy">Favourite toy:</label>
                    <input type="text" name="toy" class="form-control" id="toy">
                </div>
                <div class="form-group">
                    <label for="img">Img:</label>
                    <input type="file" name="img" id="img">
                </div>
                <button type="submit" value="submit" class="form-btn">Add</button>
            </form>
        </div>
    </div>   
</div>

{{> footer }}